<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>971938591834-mvpulfp8gkqc3mceq94ecikd1jeim9nb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.971938591834-mvpulfp8gkqc3mceq94ecikd1jeim9nb</string>
	<key>API_KEY</key>
	<string>AIzaSyBpFeVvzt6lW5eTBVcmpn-CvNTAdwcDQAg</string>
	<key>GCM_SENDER_ID</key>
	<string>971938591834</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.consentify</string>
	<key>PROJECT_ID</key>
	<string>consentify-9fca0</string>
	<key>STORAGE_BUCKET</key>
	<string>consentify-9fca0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:971938591834:ios:1f5e405b4234046edad463</string>
</dict>
</plist>